In [1]:
import pandas as pd

In [2]:
# Inspect the data

In [3]:
csv = "../data/taxi_zone_lookup.csv"

In [4]:
df_csv = pd.read_csv(csv)

In [5]:
parquet = "../data/green_tripdata_2025-11.parquet"

In [6]:
df_parquet = pd.read_parquet(parquet)

In [7]:
df_parquet

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,NaN,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,NaN,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,NaN,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,NaN,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,NaN,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75

In [8]:
df_parquet.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag                  str
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [9]:
# Question 3. Counting short trips

In [10]:
import pyarrow.parquet as pq

In [11]:
import datetime

In [12]:
start_date = datetime.datetime.strptime('2025-11-01', "%Y-%m-%d")
end_date = datetime.datetime.strptime('2025-12-01', "%Y-%m-%d")

In [13]:
# Read with filter directly
table = pq.read_table(parquet, filters=[
    ('lpep_pickup_datetime', '>=', start_date), 
    ('lpep_dropoff_datetime', '<', end_date),
    ('trip_distance', '<=', 1.0)])

# Get the number of rows in the filtered table
filtered_count = len(table)

In [14]:
filtered_count

8007

In [15]:
df_filtered = table.to_pandas()

In [16]:
print(len(df_filtered))

8007

In [17]:
# Question 4. Longest trip for each day

In [18]:
# Read with filter directly
table_trips_under100 = pq.read_table(parquet, filters=[
    ('lpep_pickup_datetime', '>=', start_date), 
    ('lpep_dropoff_datetime', '<', end_date),
    ('trip_distance', '<', 100.0)])

In [19]:
df = table_trips_under100.to_pandas()

In [20]:
len(df)

46862

In [21]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [40]:
df[df['trip_distance']==df['trip_distance'].max()]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
18859,2,2025-11-14 15:36:27,2025-11-14 18:40:48,N,4.0,130,265,2.0,88.03,610.6,...,0.5,0.0,0.0,NaN,1.0,612.1,2.0,1.0,0.0,0.0

In [43]:
df.loc[df['trip_distance']==df['trip_distance'].max(), 'lpep_pickup_datetime']

18859   2025-11-14 15:36:27
Name: lpep_pickup_datetime, dtype: datetime64[us]

In [22]:
# Answer:  2025-11-14 15:36:27 pickup time

In [23]:
# Question 5. Biggest pickup zone

In [24]:
# Which was the pickup zone with the largest total_amount (sum of all trips) on November 18th, 2025?

In [25]:
date_of_interest = datetime.datetime.strptime('2025-11-18', "%Y-%m-%d")
date_of_interest2 = datetime.datetime.strptime('2025-11-19', "%Y-%m-%d")

In [26]:
# Read with filter directly
table_trips_on_date = pq.read_table(parquet, filters=[
    ('lpep_pickup_datetime', '>=', date_of_interest),
    ('lpep_pickup_datetime', '<', date_of_interest2),    
])

In [27]:
len(table_trips_on_date)

1773

In [28]:
df_ondate = table_trips_on_date.to_pandas()

In [29]:
df_ondate.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag                  str
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [30]:
# Group by 'PULocationID' and sum the numeric columns ('Value1', 'Value2')
summed_df_ondate = df_ondate.groupby('PULocationID').agg({'total_amount': 'sum'})

In [31]:
summed_df_ondate

              total_amount
PULocationID
7                   343.60
10                   87.24
14                   53.83
15                   39.50
17                  110.25
...                    ...
261                  34.37
262                  26.78
263                  71.53
264                  18.80
265                  61.00

[137 rows x 1 columns]

In [32]:
summed_df_ondate[summed_df_ondate['total_amount']==summed_df_ondate['total_amount'].max()]

              total_amount
PULocationID
74                 9281.92

In [33]:
# Answer:  East Harlem North (LocationID = 74)

In [34]:
# Question 6. Largest tip
# For the passengers picked up in the zone named "East Harlem North" in November 2025, which was the drop off zone that had the largest tip?

In [35]:
# Read with filter directly
table_trips_question6 = pq.read_table(parquet, filters=[
    ('lpep_pickup_datetime', '>=', start_date),
    ('lpep_pickup_datetime', '<', end_date),
    ('PULocationID', '==', 74)
])

In [52]:
df_question6 = table_trips_question6.to_pandas()

In [44]:
df_question6[df_question6['tip_amount']==df_question6['tip_amount'].max()]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
11613,2,2025-11-30 16:30:27,2025-11-30 16:41:29,N,1.0,74,263,1.0,2.63,14.2,...,0.5,81.89,0.0,NaN,1.0,100.34,1.0,1.0,2.75,0.0

In [53]:
df_question6.loc[df_question6['tip_amount']==df_question6['tip_amount'].max(), 'DOLocationID']

11613    263
Name: DOLocationID, dtype: int32

In [ ]:
# Answer Yorkville West (DOLocationID = 263)